/*----------------FONTS-----------------*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/*----------------Var Css-----------------*/
:root{
  --header-height: 3rem;
  --nav-width: 68px;

  /*---------------- Color Master -----------------*/
  --first-color: #005a51;
  --first-color-light: #ffffff;
  --white-color: #F7F6FB;
  
  /*---------------- Font & typography -----------------*/
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;
  
  /*---------------- z index -----------------*/
  --z-fixed: 100;
}

/*---------------- Core -----------------*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.header h1{
  color: #005a51;
  font-size: 22px;
  display: flex;
  position: relative;
  left: 10%;
  width: 100%;
  height: auto;
  z-index: var(--z-fixed);
}
.header .sep{
  border-radius: 50px;
  background-color: #005a51;
  width: 20%;
  height: 4px;
  display: flex;
  position: relative;
  transition: .5s;
  right: 48%;
  top: 30px;
}
a{
  text-decoration: none;
}
/*----------------Header-----------------*/
.header{
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
}
.header #header-lg{
  margin-top: 2px;
  margin-left: 12px;
  color: #005a51;
}
.header__toggle{
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header__name h1{
  padding-top: 0;
  margin-right: 50px;
  font-size: 10px;
  color: #005a51;
  position: relative;
  display: flex;
  justify-content: center;
}


/*----------------Navigation-----------------*/
.l-navbar{
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-image: linear-gradient(to bottom,#005a51,#02313f);
  /*background-color: var(--first-color);*/
  padding: .5rem 1rem 0 0;
  z-index: var(--z-fixed);
}

.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo, .nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 2rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav__logo{
  margin-bottom: 2rem;
}

.nav__logo-icon{
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav__logo-name{
  width: 100px;
  height: 22px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.nav__link{
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
}

.nav__link:hover{
  color: var(--white-color);
  background-color: #0b776c;
}

.nav__icon{
  font-size: 1.25rem;
}

/*Show navbar movil*/
.show{
  left: 0;
  transition: 0.4s;
}

/*Add padding body movil*/
.body-pd{
  padding-left: calc(var(--nav-width) + 1rem);
}

/*Active links*/
.active{
  color: var(--white-color);
}

.active::before{
  content: '';
  position: absolute;
  left: 0;
  width: 4px;
  height: 32px;
  background-color: var(--white-color);
}

.logout{
  z-index: 10;
  width: 225px;
  height: 43px;
  left: 0%;
  position: absolute;
  display: inline;
  opacity: 0;
  background-color: none;
  border: none;
}

/*---------------- MEDIA QUERIES-----------------*/
@media screen and (min-width: 768px){
  body{
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
    transition: 0.4s;
  }

  .header{
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    transition: 0.4s;
  }

  .header h1{
    padding-top: 0;
    font-size: 30px;
    display: flex;
    position: relative;
    left: 10%;
    width: 100%;
    height: auto;
  }
  .header #header-lg{
    margin-top: 10px;
    margin-left: 12px;
    color: #005a51;
  }
  .header .sep{
    border-radius: 50px;
    background-color: #005a51;
    width: 10%;
    height: 4px;
    display: flex;
    position: relative;
    transition: .5s;
    right: 61%;
    top: 30px;
  }
  
  .header__name h1{
    margin-right: 100px;
    font-size: 15px;
    color: #005a51;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .l-navbar{
    left: 0;
    padding: 1rem 0 0 0;
    transition: 0.4s;
  }
  
  /*Show navbar desktop*/
  .show{
    width: calc(var(--nav-width) + 156px);
  }

  /*Add padding body desktop*/
  .body-pd{
    padding-left: calc(var(--nav-width) + 188px);
  }
}
/*------------body------------------------------*/
.bg{
  left: 20%;
  top: 10%;
  width: 70%;
  height: auto;
  z-index: -1;
  position: fixed;
  opacity: 0.15;
}
.col-md-12{
  margin: 20px 20px;  
  margin-top: 100px;
}
.btn-add{
  font-size: 15px;
  color: #005a51;
  border: solid;
  border-width: 1.6px;
  border-radius: 50px;
  margin-bottom: 20px;
  padding: 5px 30px;
}

.btn-add:hover{
  color: white;
  background-image: linear-gradient(to right,#005a51,#02313f);
}
.btn-scrap{
  margin-top: 50px;
  margin-bottom: 50px;
  left: 50%;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  color: white;
  background-image: linear-gradient(to right,#005a51,#02313f);
  border:none;
  outline: none;
  border-radius: 50px;
  width: 200px;
  height: 50px;
  transform: translate(-50%, -50%);
}
.btn-scrap:hover{
  opacity: 0.7;
}

/*------------------table----------------------------------*/
.table {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 13.5px;
  color: #ffffff;  
  border-radius: 30px;
  }
  
  .table th,
  .table td {
  padding: 0.65rem;
  vertical-align: top;
  border-top: 1px solid #005a51;  
  border-radius: 30px;
  }

  .table a i{
    color: var(--first-color);  
  }

  .table td{    
    text-align: center;
    color: #000000;  
  }
  
  .table thead th {
    border: none; 
    background-image: linear-gradient(to right,#005a51,#02313f);
    vertical-align: bottom;
    border: 2px solid #005a51;
  }
  
  .table tbody + tbody {
  border-top: 2px solid #005a51;
  }
  
  .table-sm th,
  .table-sm td {
  padding: 0.3rem;
  }
  
  .table-bordered {
  border: 1px solid #dee2e6;
  }
  
  .table-bordered th,
  .table-bordered td {
  border: 1px solid #dee2e6;
  }
  
  .table-bordered thead th,
  .table-bordered thead td {
  border-bottom-width: 2px;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
  }
  
  
  @media (max-width: 575.98px) {
  .table-responsive-sm {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  }
  .table-responsive-sm > .table-bordered {
  border: 0;
  }
  }
  
  @media (max-width: 767.98px) {
  .table-responsive-md {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  }
  .table-responsive-md > .table-bordered {
  border: 0;
  }
  }
  
  @media (max-width: 991.98px) {
  .table-responsive-lg {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  }
  .table-responsive-lg > .table-bordered {
  border: 0;
  }
  }
  
  @media (max-width: 1199.98px) {
  .table-responsive-xl {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  }
  .table-responsive-xl > .table-bordered {
  border: 0;
  }
  }
  
  .table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  }
  
  .table-responsive > .table-bordered {
  border: 0;
  }
  
  .table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  }
  
  .table-responsive > .table-bordered {
  border: 0;
  }