*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    transition: all 0.2s;
}
body{  
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    width: 100%;
    animation: fade_in_show 0.6s;
}
/*-------------------------------------------------------------------*/
section{
    align-items:center;
    display: flex;
    justify-content: center;
   
 }
section.login-img{
    height: 100vh;  
    width: 50vw;
}

.login-img img{
    margin-left: 100px;
    max-width:80%;
    width: 80%;
}

/*-------------------------------------------------------------------*/
.f-login{
    margin-top: -25px;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 450px;
    padding: 24px;
}
.logo-login{
    
    height: auto;
    width: 90%;
}
/*-----------*/

form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.uname, .pass{
    position: relative;
    width: 100%;
}
#id_username{
    background-color: rgb(212, 212, 212);
    border-radius: 50px;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 13px;
    letter-spacing: 0.05px;
    margin: 55px 0 0 0;
    padding: 14px 44px;
    text-align: center;
    width: 100%;    
}
#id_username:focus{
    border: solid;
    border-width: 1px;
    border-color: seagreen;
    outline:none;
}

/*-----------*/
#id_password{
    background-color: rgb(212, 212, 212);
    border-radius: 50px;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 13px;
    letter-spacing: 0.05px;
    margin: 13px 0 0 0;
    padding: 14px 44px;
    text-align: center;
    width: 100%;
}
#id_password:focus{
    outline-width: 0;
    border: solid;
    border-width: 1px;
    border-color: seagreen;
}
/*-----------*/
#submit{
    background-image: linear-gradient(to right,#005a51,#02313f);
    color: white;
    border-radius: 50px;
    padding: 18px 54px;
    width: 100%;
    border: none;
    margin: 15px 0 0 0;
    font-size: 15px;
    letter-spacing: 0.7px;
    cursor: pointer;
}
#submit:hover{
    opacity: 0.6;
}
.login-box form #submit:focus{
    outline-width: 0;
    background-color: rgb(3, 66, 60);
}
a{
    margin-top: 10px;
    font-size: 14px;
    color: teal;
    text-decoration: none;
}
.login-box .p{
    position: fixed;
    color: rgb(148, 148, 148);
    top: 90%;
    z-index: -2;
    font-size: 15px;
    display: block;
}
/*---------------------Media Responsive----------------------------------*/
@media(max-height:1400px){
    .login-box{
        margin-top: 310px;
        margin-left: 180px;
        width: 300px;
        height: 100px;
    } 

}
@media(max-height:663px){
    .login-box{
        margin-top: 270px;
        margin-left: 180px;
        width: 300px;
        height: 100px;
    } 

}
@media(max-height:568px){
    .login-box{        
        margin: 0%;
        width: 250px;
        height: 100px;
    } 
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        animation: fade_out_show 0.6s;
    }
    .login-img{
        display: none;
    }
    .login-box p{
        display: none;
    }

}
@media (max-width: 1080px){
    .p p{
        font-size: 10px;
    }
    .login-box{
        margin-left: 100px;
        width: 280px;
        height: 100px;
    }
}
@media (max-width: 780px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        animation: fade_out_show 0.6s;
    }
    .login-img{
        display: none;
    }
    .p p{
        font-size: 10px;
    }
    .login-box{
        margin: 0%;
        width: 300px;
        height: 100px;
    }
}
@media (max-width: 400px){
    .p p{
        font-size: 8px;
    }
    .login-box{
        margin: 0%;
        width: 250px;
        height: 100px;
    }
}
/*---------------------Placeholder Focus----------------------------------*/
input::-webkit-input-placeholder {
    color: #999;
}
input:focus::-webkit-input-placeholder {
    color: rgb(218, 218, 218);
}
/* Firefox < 19 */
input:-moz-placeholder {
    color: #999;
}
input:focus:-moz-placeholder {
    color: rgb(218, 218, 218);
}
/* Firefox > 19 */
input::-moz-placeholder {
    color: #999;
}
input:focus::-moz-placeholder {
    color: rgb(218, 218, 218);
}
/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: #999;
}
input:focus:-ms-input-placeholder {
    color: rgb(218, 218, 218);
}

/*-------------------------------------------*/
@keyframes fade_in_show{
    0% {
         opacity: 0.5;
         transform: scale(0)
    }

    100% {
         opacity: 1;
         transform: scale(1)
    }
}
@keyframes fade_out_show{
    100% {
        opacity: 1;
        transform: scale(1)
    }
    0% {
         opacity: 0;
         transform: scale(0)
    }

    
}