/*----------------FONTS-----------------*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/*----------------Var Css-----------------*/
:root{
  --header-height: 3rem;
  --nav-width: 68px;

  /*---------------- Color Master -----------------*/
  --first-color: #005a51;
  --first-color-light: #ffffff;
  --white-color: #F7F6FB;
  
  /*---------------- Font & typography -----------------*/
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;
  
  /*---------------- z index -----------------*/
  --z-fixed: 100;
}

/*---------------- Core -----------------*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.header h1{
  color: var(--first-color);
  font-size: 22px;
  display: flex;
  position: relative;
  left: 10%;
  width: 100%;
  height: auto;
  z-index: var(--z-fixed);
}
.header .sep{
  border-radius: 50px;
  background-color: #005a51;
  width: 20%;
  height: 4px;
  display: flex;
  position: relative;
  transition: .5s;
  right: 48%;
  top: 30px;
}
a{
  text-decoration: none;
}
/*----------------Header-----------------*/
.header{
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
}
.header #header-lg{
  margin-top: 2px;
  margin-left: 12px;
  color: #005a51;
}
.header__toggle{
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header__name h1{
  padding-top: 0;
  margin-right: 50px;
  font-size: 10px;
  color: #005a51;
  position: relative;
  display: flex;
  justify-content: center;
}
/*----------------Navigation-----------------*/
.l-navbar{
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-image: linear-gradient(to bottom,#005a51,#02313f);
  /*background-color: var(--first-color);*/
  padding: .5rem 1rem 0 0;
  z-index: var(--z-fixed);
}

.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo, .nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 2rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav__logo{
  margin-bottom: 2rem;
}

.nav__logo-icon{
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav__logo-name{
  width: 100px;
  height: 22px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.nav__link{
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
}

.nav__link:hover{
  color: var(--white-color);
  background-color: #0b776c;
}

.nav__icon{
  font-size: 1.25rem;
}

/*Show navbar movil*/
.show{
  left: 0;
  transition: 0.4s;
}

/*Add padding body movil*/
.body-pd{
  padding-left: calc(var(--nav-width) + 1rem);
}

/*Active links*/
.active{
  color: var(--white-color);
}

.active::before{
  content: '';
  position: absolute;
  left: 0;
  width: 4px;
  height: 32px;
  background-color: var(--white-color);
}

.logout{
  z-index: 10;
  width: 225px;
  height: 43px;
  left: 0%;
  position: absolute;
  display: inline;
  opacity: 0;
  background-color: none;
  border: none;
}
/* --------------------------------Body---------------------------- */
.bd{
  margin: 20px;
  margin-top: 100px;
}

/* --------Slider------------- */
.switch {
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
  display: inline-block;
  width: 42px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--first-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--first-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*---------------- Radio------------ */
.container {
  position: relative;
  padding-left: 25px;
  margin-left: 40px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: var(--normal-font-size);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  margin-top: 10px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  margin-top: 1.3px;
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: var(--first-color-light);
  border-radius: 50%;
}
.container:hover input ~ .checkmark {
  background-color: grey;
}

.container input:checked ~ .checkmark {
  background-color: var(--first-color);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
 	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/*------Hide Panel------------------ */
#word{
  margin-left: 20px;
}
button{
  color: white;
  padding-left: 20px;
  text-align: left;
  outline: none;
  height: 45px;
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
}
.panel-heading{
  border-radius: 50px;
  background-image: linear-gradient(to right,#02313f,#005a51);
}

.panel-body{
  margin-left: 40px;
}
/*---------------- MEDIA QUERIES-----------------*/
@media screen and (min-width: 768px){
  body{
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
    transition: 0.4s;
  }

  .header{
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    transition: 0.4s;
  }
  .header h1{
    font-size: 30px;
    display: flex;
    position: relative;
    left: 10%;
    width: 100%;
    height: auto;
  }
  
  .header__name h1{
    padding-top: 0;
    margin-right: 50px;
    font-size: 15px;
    color: #005a51;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .header #header-lg{
    margin-top: 10px;
    margin-left: 12px;
    color: #005a51;
  }
  .header .sep{
    border-radius: 50px;
    background-color: #005a51;
    width: 10%;
    height: 4px;
    display: flex;
    position: relative;
    transition: .5s;
    right: 67%;
    top: 30px;
  }

  .l-navbar{
    left: 0;
    padding: 1rem 0 0 0;
    transition: 0.4s;
  }
  
  /*Show navbar desktop*/
  .show{
    width: calc(var(--nav-width) + 156px);
  }

  /*Add padding body desktop*/
  .body-pd{
    padding-left: calc(var(--nav-width) + 188px);
  }
}


